#booklet{position: relative;}

/*botão imprimir*/
#booklet header{
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: 2;
}

h2{
    margin-bottom: 40px;
}

/*paginação*/
footer{
    position: absolute;
    width: 100%;
    z-index: 2;
    bottom: 0;
}
.pagination li.visitado a{opacity: .3;}

li.active .btn-sesc {
    transform: translateY(-3px);
    background-color: #E5FDFF;
}

/*marcadores checklist*/
ul.check{padding-left: 0;}
ul.check li{
    list-style: none;
    background: url('../img/check.png') no-repeat left top;
    padding-left: 40px;
    min-height: 30px;
    margin-bottom: 10px;
}

/*podcast*/
.bg-podcast{
    background: url('../img/podcast.png') no-repeat;
    max-width: 811px;
    height: 268px;
    background-size: contain;
}

/*tooltip*/
.bt-tooltip{
    font-size: 17px;
    border: none;
    border-bottom: 2px dashed ;
    background: none;
    color: inherit;
    text-decoration: none;
}

/*estilo dos blocos*/
.container{background: transparent;}
.bloco{
    padding: 150px 0;
}
.bloco.branco{
    background: url('../img/fundo_branco.png') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
.bloco.azul{
    background: url('../img/fundo_azul.png') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

/*ilustras com efeito rellax*/
.rellax{
    position: absolute;
    z-index: 3;
}
.rellax.direita{right: 0;}
.rellax.esquerda{left: 0;}
.rellax1{
    top: 300px;
    width: 15%;
}
/* .rellax2.direita{
    top: -50px;
    right: 200px;
} */
.rellax3{
    top: 100px;
    width: 20%;
}
.rellax4{
    top: 1000px;
    width: 25%;
}
.rellax5{
    top: 2000px;
    width: 25%;
}
.rellax6{
    top: 900px;
    width: 20%;
}
.rellax7{
    top: 570px;
    width: 25%;
}
.rellax8{
    top: 150px;
    width: 20%;
}
.rellax9{
    top: 700px;
    width: 20%;
}
.rellax10.esquerda{
    left: 150px;
    top: 350px;
    width: 10%;
}
.rellax11{
    top: 300px;
    width: 20%;
}
.rellax12.direita{
    width: 20%;
    right: 25%;
    top: 300px;
}
.rellax13{
    width: 20%;
    top: 400px;
}
.rellax14.esquerda{
    left: 42%;
    top: 450px;
    width: 7%;
}
.rellax15.direita{
    width: 15%;
    right: 15%;
    top: 800px;
}
.rellax16{
    width: 20%;
    top: 400px;
}
.rellax17{
    width: 15%;
    bottom: 0;
}
.rellax18{
    width: 15%;
}
.w-80{width: 80%;}

/*conteúdo*/
h2{
    font-size: 28px;
    color: #00828a;
}
.container-maior{
    max-width: 1120px;
}
.bloco{position: relative;}
.faixa-amarela{
    background: url('../img/fig_faixa_amarela.png') no-repeat center center;
    background-size: unset;
    width: 100%;
    height: 395px;
    padding-top: 150px;
    margin: -200px 0;
    position: relative;
    z-index: 2;
}
.azul.padding-maior{
    padding-top: 250px;
}
.bloco.azul p, .bloco.azul li, .bloco.azul a{
   color: #fff;
}
.link-conteudo, .bloco.azul .link-conteudo{
    color: #3d3d3d;
    text-decoration: none;
    background: #ff9700;
    border-radius: 2px;
    padding: 0 3px;
    font-weight: bold;
    transition: all .4s;
}
.link-conteudo:hover, .bloco.azul .link-conteudo:hover{
    background: #3d3d3d;
    color: #fff;
}
.caixa, .caixa.icone{
    background:#ff9700;
    border-radius: 30px;
    color: #3d3d3d;
    border: none;
    width: 70%;
    border-radius: 70% 55% 100% 55%;
    padding: 75px;
}
.bloco.azul .caixa p{color: #3d3d3d;}

.lista-bandeirinhas{
    list-style: none;
    margin-top: 40px;
}
.lista-bandeirinhas li{
    padding-left: 80px;
    min-height: 78px;
    margin-bottom: 20px;
}
.band1{background: url('../img/fig_bandeirinha1.png') no-repeat left top;}
.band2{background: url('../img/fig_bandeirinha2.png') no-repeat left top;}
.band3{background: url('../img/fig_bandeirinha3.png') no-repeat left top;}
.band4{background: url('../img/fig_bandeirinha4.png') no-repeat left top;}

.cards-amarelos > div{
    width: 223px;
    height: 352px;
    margin-bottom: 50px;
    padding: 70px 20px;
    text-align: center;
    position: relative;
}
.cards-amarelos > div p:last-child{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 40px;
}
.cards-amarelos p{line-height: 17px;}
.cards-amarelos .card1{background: url('../img/card1.png') no-repeat;}
.cards-amarelos .card2{background: url('../img/card2.png') no-repeat;}
.cards-amarelos .card3{background: url('../img/card3.png') no-repeat;}
.cards-amarelos .card4{background: url('../img/card4.png') no-repeat;}
.cards-amarelos .card5{
    background: url('../img/card_trabfinal.png') no-repeat;
    width: 301px;
    height: 206px;
}
.cards-amarelos .card2 p:last-child{bottom: 46px;}
.cards-amarelos .card4 p:last-child{bottom: 52px;}
.cards-amarelos .card5 p:last-child{bottom: 33px;}

.destaque-branco{
    background: #fff;
    border-radius: 30px;
    margin: 120px auto;
    padding: 20px;
    padding-bottom: 0;
}
.bloco.azul .destaque-branco p{
    color: #000;
}
.img-destaqueb{
    margin: -100px auto;
    max-width: 40%;
}

.checklist ul{
    background: #fdeedb;
    max-width: 520px;
    margin: 20px auto;
    padding: 40px;
    padding-bottom: 0;
    list-style: none;
    margin-bottom: 0;
}
.bloco.azul .checklist ul li{
    color: #000;
    margin-bottom: 20px;
    background: url('../img/check.png') no-repeat left top;
    padding-left: 50px;
    min-height: 32px;
}
.bloco.azul .checklist ul li:last-child{margin-bottom: 0;}
.icone::before{
    width: 127px;
    height: 119px;
}
.icone.atencao::before {
    background: url(../img/ico_atencao.png) no-repeat transparent;
    width: 127px;
    height: 119px;
}

.esquema-vertical{
    background: url(../img/seta.gif) no-repeat left -200px top -50px;
    padding-left: 82px;
    min-height: 479px;
    max-width: 480px;
    margin: 40px auto;
}
.esquema-vertical ul{
    list-style: none;
}
.esquema-vertical ul li{
    width: 285px;
    padding: 15px 0;
    text-align: center;
    background: #018087;
    border-radius: 40px;
    margin-bottom: 20px;
    -webkit-box-shadow: 6px 4px 12px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 4px 12px -3px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 12px -3px rgba(0,0,0,0.75);
}

.painel-plano{
    max-width: 710px;
    background: url('../img/painel_clicavel_planp_comunicacao.png') no-repeat center top;
    height: 360px;
    background-size: 90%;
    position: relative;
    padding-top: 320px;
}
.btns-painel{
    margin-left: 60px;
}
.painel-plano button{
    width: 90px;
    height: 90px;
    border: none;
    transition: all .4s;
    position: relative;
    margin-right: 34px;
}
.painel-plano button:hover{
    transform: rotate(10deg);
}
.painel-plano .bt-plano1{
    background: url('../img/bt_1.png') no-repeat;
}
.painel-plano .bt-plano2{
    background: url('../img/bt_2.png') no-repeat;
}
.painel-plano .bt-plano3{
    background: url('../img/bt_3.png') no-repeat;
}
.painel-plano .bt-plano4{
    background: url('../img/bt_4.png') no-repeat;
}
.painel-plano .bt-plano5{
    background: url('../img/bt_5.png') no-repeat;
}
.painel-plano .bt-plano1.visitado{background: url('../img/bt_1_vis.png') no-repeat;}
.painel-plano .bt-plano2.visitado{background: url('../img/bt_2_vis.png') no-repeat;}
.painel-plano .bt-plano3.visitado{background: url('../img/bt_3_vis.png') no-repeat;}
.painel-plano .bt-plano4.visitado{background: url('../img/bt_4_vis.png') no-repeat;}
.painel-plano .bt-plano5.visitado{background: url('../img/bt_5_vis.png') no-repeat;}

.bloco.azul figcaption{color: #fff;}
.figure-caption{margin-top: 15px;}

.collapse-dado{
    z-index: 4;
    position: relative;
}
.collapse-dado button{
    width: 91px;
    height: 89px;
    border: none;
    transition: transform .2s;
}
.collapse-dado .bt-dado1{background: url('../img/dado1.png') no-repeat;}
.collapse-dado .bt-dado2{background: url('../img/dado2.png') no-repeat;}
.collapse-dado .bt-dado3{background: url('../img/dado3.png') no-repeat;}
.collapse-dado .bt-dado4{background: url('../img/dado4.png') no-repeat;}
.collapse-dado .bt-dado5{background: url('../img/dado5.png') no-repeat;}
.collapse-dado .bt-dado6{background: url('../img/dado6.png') no-repeat;}

.collapse-dado button:hover{
    transform: rotate(30deg);
}

.collapse-dado .card-body{
    background: url('../img/painel_gaitinha_dados.png') no-repeat;
    background-size: contain;
    width: 300px;
    min-height: 290px;
    padding: 80px 40px;
    color: #fff;
}
.collapse-horizontal{margin-top: -50px;}

.bloco.azul .modal p, .bloco.azul .modal li, .bloco.azul .modal figcaption{color: #000;}
.painel-estrategias button{
    width: 201px;
    height: 233px;
    margin-bottom: 50px;
    border: none;
    background-position: center;
    transition: transform .4s;
}
.painel-estrategias button:hover{
    transform: rotate(4deg);
}

.bt-publico{background: url('../img/bt_publico.png') no-repeat;}
.bt-redes{background: url('../img/bt_redes.png') no-repeat;}
.bt-website{background: url('../img/bt_website.png') no-repeat;}
.bt-parcerias{background: url('../img/bt_parcerias.png') no-repeat;}
.bt-promocao{background: url('../img/bt_promocao.png') no-repeat;}
.bt-assessoria{background: url('../img/bt_assessoria.png') no-repeat;}
.bt-publicidade{background: url('../img/bt_publicidade.png') no-repeat;}

.bt-publico:hover{background: url('../img/bt_publico_hv.png') no-repeat;}
.bt-redes:hover{background: url('../img/bt_redes_hv.png') no-repeat;}
.bt-website:hover{background: url('../img/bt_website_hv.png') no-repeat;}
.bt-parcerias:hover{background: url('../img/bt_parceria_hv.png') no-repeat;}
.bt-promocao:hover{background: url('../img/bt_promocao_hv.png') no-repeat;}
.bt-assessoria:hover{background: url('../img/bt_assessoria_hv.png') no-repeat;}
.bt-publicidade:hover{background: url('../img/bt_publicidade_hv.png') no-repeat;}

.bt-publico.visitado{background: url('../img/bt_publico_vis.png') no-repeat;}
.bt-redes.visitado{background: url('../img/bt_redes_vis.png') no-repeat;}
.bt-website.visitado{background: url('../img/bt_website_vis.png') no-repeat;}
.bt-parcerias.visitado{background: url('../img/bt_parcerias_vis.png') no-repeat;}
.bt-promocao.visitado{background: url('../img/bt_promocao_vis.png') no-repeat;}
.bt-assessoria.visitado{background: url('../img/bt_assessoria_vis.png') no-repeat;}
.bt-publicidade.visitado{background: url('../img/bt_publicidade_vis.png') no-repeat;}

.esquemaDaBru .alt-verdadeiro{
    background: url('../img/bt_verdadeiro.png') center no-repeat;
    width: 300px;
    height: 81px;
    border: none;
}
.esquemaDaBru .alt-verdadeiro:hover{
    background: url('../img/verdadeiro_hv.png') center no-repeat;
    box-shadow: none;
}
.esquemaDaBru .alt-verdadeiro.alt-e.selected{
    background: url('../img/bt_verdadeiro_errado.png') center no-repeat;
    box-shadow: none;
}
.esquemaDaBru .alt-verdadeiro.alt-c.selected{
    background: url('../img/bt_verdadeiro_certo.png') center no-repeat;
    box-shadow: none;
}
.esquemaDaBru .alt-falso{
    background: url('../img/bt_falso.png') center no-repeat;
    width: 300px;
    height: 81px;
    border: none;
    background-position: center;
}
.esquemaDaBru .alt-falso:hover{
    background: url('../img/falso_hv.png') center no-repeat;
    box-shadow: none;
}
.esquemaDaBru .alt-falso.alt-e.selected{
    background: url('../img/bt_falso_errado.png') center no-repeat;
    box-shadow: none;
}
.esquemaDaBru .alt-falso.alt-c.selected{
    background: url('../img/bt_falso_certo.png') center no-repeat;
    box-shadow: none;
}
.icone::before{
    width: 107px;
    height: 90px;
}
.icone.importante::before {
    background: url(../img/ico_importante.png) no-repeat transparent;
}

figure img{max-width: 600px;}
.destaque-amarelo{
    background: #ff9700;
    padding: 50px 0;
    position: relative;
}
.destaque-amarelo p{text-align: center;}

.caixa-destaque{
    background: #ff9700;
    padding: 20px 30px;
    margin: 30px auto;
    color: #fff;
    width: 80%;
    box-shadow: #3d3d3d 3px 3px 5px;
}
.caixa-destaque-livre{
    background: #ff9700;
    padding: 20px 30px;
    margin: 30px auto;
    color: #fff;
    width: 100%;
    box-shadow: #3d3d3d 3px 3px 5px;
}

.gaitinha-canva .accordion-item{
    background: none;
    border: none;
}
.gaitinha-canva .accordion-button{
    background: none;
    box-shadow: none;
    height: 104px;
    transition: all .4s;
}
.gaitinha-canva .accordion-button:hover{transform: rotate(4deg);}
.gaitinha-canva .accordion-button:hover img{filter: drop-shadow(2px 2px 4px rgba(0 0 0 / 98%));}
.gaitinha-canva .accordion-button:hover,
.gaitinha-canva .accordion-button:focus,
.gaitinha-canva .accordion-button:not(.collapsed)::before,
.gaitinha-canva .accordion-button:before,
.gaitinha-canva .accordion-body{
    background: none;
}

.anim-pulse{
    animation: pulse 2s infinite;
}

.painel-redes button{
    width: 192px;
    height: 192px;
    margin-bottom: 20px;
    transition: all .3s;
    border: none;
}
.painel-redes button:hover{
    transform: rotate(8deg);
}
.bt-facebook{background: url('../img/bt_face_hv.png') no-repeat;}
.bt-instagram{background: url('../img/bt_insta_hv.png') no-repeat;}
.bt-whatsapp{background: url('../img/bt_wpp_hv.png') no-repeat;}
.bt-tiktok{background: url('../img/bt_tiktok_hv.png') no-repeat;}

.painel-midias button{
    width: 196px;
    height: 230px;
    margin-bottom: 20px;
    border: none;
}
.painel-midias button:hover{
    transform: rotate(4deg);
}
.bt-tradicionais{background: url('../img/bt_tradicional.png') no-repeat;}
.bt-digitais{background: url('../img/bt_digital.png') no-repeat;}
.bt-externas{background: url('../img/bt_externa.png') no-repeat;}
.bt-organica{background: url('../img/bt_organica.png') no-repeat;}

.bt-tradicionais:hover{background: url('../img/bt_tradicional_hv.png') no-repeat;}
.bt-digitais:hover{background: url('../img/bt_digital_hv.png') no-repeat;}
.bt-externas:hover{background: url('../img/bt_externa_hv.png') no-repeat;}
.bt-organica:hover{background: url('../img/bt_organica_hv.png') no-repeat;}

.bt-tradicionais.visitado{background: url('../img/bt_tradicional_visualizado.png') no-repeat;}
.bt-digitais.visitado{background: url('../img/bt_digital_vis.png') no-repeat;}
.bt-externas.visitado{background: url('../img/bt_externa_vis.png') no-repeat;}
.bt-organica.visitado{background: url('../img/bt_organica_vis.png') no-repeat;}

.destaque-acessar{
    background: url('../img/icon_clique.png') no-repeat left 40px center #008189;
    color: #fff;
    border-radius: 30px;
    margin: 0 40px;
    padding: 30px 130px;
}

@media screen and (max-width: 1480px){
    .rellax.direita{right: 0;}
    /* .rellax2{width: 15%;} */
    .rellax3.esquerda{
        left: -5%;
    }
    .rellax5{
        top: 2300px;
        width: 15%;
    }
    .rellax6{width: 15%;}
}
@media screen and (max-width: 1440px){
    .rellax12.direita{width: 35%;}
}
@media screen and (max-width: 580px){
    .pagination{
        flex-wrap: wrap;
    }
    .caixa, .caixa.icone{
        width: 100%;
        border-radius: 30px;
        padding: 40px;
        padding-top: 80px;
    }
    .icone::before{
        top: -40px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .faixa-amarela{
        background: #ff9700;
        height: auto;
        padding: 40px 20px;
        margin: 0;
        position: unset;
        z-index: unset;
    }
    marquee{
        width: 100%;
        padding: 20px;
    }
    .bloco{padding: 100px 20px;}
    .azul.padding-maior{padding: 50px 20px;}
    .pagina .bloco:last-child{
        padding-bottom: 200px;
    }
    .destaque-branco{
        margin: 50px auto;
    }
    .esquema-vertical{max-width: 100%;}
    .esquema-vertical ul li {
        width: 160px;
        padding: 15px;
    } 
    .painel-plano{
        padding-top: 150px;
        height: auto;
    }
    .painel-plano button{
        position: unset;
        margin: 10px auto;
        display: block;
    }

    .caixa-destaque, .caixa-destaque-livre{
        padding: 10px 20px;
        width: 100%;
    }

    .destaque-acessar{
        background: url('../img/icon_clique.png') no-repeat top 40px center #008189;
        color: #fff;
        border-radius: 30px;
        margin: 30px auto;
        padding: 30px;
        padding-top: 130px;
    }
}