body{
    background: url(../../img-inicial/bg.png) center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}
h1{
    background: url(../../img-inicial/fig_divulgacao.png) center 125px no-repeat, url(../../img-inicial/fig_faixa_amarela.png) no-repeat;
    width: 100%;
    height: 395px;
    background-size: 50%, contain;
}
nav{
    width: 90%;
    margin-bottom: 80px;
}
nav li {
    list-style: none;
    margin-bottom: 50px;
    width: 245px;
    height: 287px;
    transition: all .4s;
}
nav li:hover {transform: rotate(4deg);}
nav li a{
    width: 245px;
    height: 287px;
    display: block;
}
.introducao{background: url('../../img-inicial/bt_introducao.png') center bottom no-repeat;}
.recapitulando{background: url('../../img-inicial/bt_recapitulando.png') center bottom no-repeat;}
.relembrando{background: url('../../img-inicial/bt_relembrando.png') center bottom no-repeat;}
.criando{background: url('../../img-inicial/bt_criando.png') center bottom no-repeat;}
.parcerias{background: url('../../img-inicial/bt_parcerias.png') center bottom no-repeat;}
.social{background: url('../../img-inicial/bt_social.png') center bottom no-repeat;}
.veiculos{background: url('../../img-inicial/bt_veiculos.png') center bottom no-repeat;}
.pos{background: url('../../img-inicial/bt_pos.png') center bottom no-repeat;}
.papel{background: url('../../img-inicial/bt_papel.png') center bottom no-repeat;}
.referencias{background: url('../../img-inicial/bt_referencias.png') center bottom no-repeat;}

.introducao:hover{background: url('../../img-inicial/bt_introducao_hv.png') center bottom no-repeat;}
.recapitulando:hover{background: url('../../img-inicial/bt_recapitulando_hv.png') center bottom no-repeat;}
.relembrando:hover{background: url('../../img-inicial/bt_relembrando_hv.png') center bottom no-repeat;}
.criando:hover{background: url('../../img-inicial/bt_criando_hv.png') center bottom no-repeat;}
.parcerias:hover{background: url('../../img-inicial/bt_parcerias_hv.png') center bottom no-repeat;}
.social:hover{background: url('../../img-inicial/bt_social_hv.png') center bottom no-repeat;}
.veiculos:hover{background: url('../../img-inicial/bt_veiculos_hv.png') center bottom no-repeat;}
.pos:hover{background: url('../../img-inicial/bt_pos_hv.png') center bottom no-repeat;}
.papel:hover{background: url('../../img-inicial/bt_papel_hv.png') center bottom no-repeat;}
.referencias:hover{background: url('../../img-inicial/bt_ref_hv.png') center bottom no-repeat;}

.btVideo{
    background: url('../../img-inicial/bt-video.png') no-repeat;
    width: 128px;
    height: 127px;
    border: none;
    background-size: contain;
    margin: auto;
    display: block;
}


.modal-dialog:not(.modal-fullscreen) {
    border-radius: 0;
}
.modal-dialog:not(.modal-fullscreen) .btn-close {
    color: white;
    font-size: 1.5rem;
    line-height: 0;
}
.modal-dialog:not(.modal-fullscreen) .modal-content {
    border-radius: 0;
}
.modal-dialog .modal-header {
    border-bottom: 0;
}
.modal-dialog:not(.modal-fullscreen) .modal-header {
    color: white;
    background-color: #00838D;
    border-radius: 0;
    border-bottom: 0;
}
.modal-dialog .modal-footer {
    border: 0;
    border-top: 0;
    padding: 0;
    padding-bottom: 10px;
}
.ytb {
    width: 560px;
    height: 315px;
    display: block;
    margin: 25px auto;
    max-width: 100%;
}
.backdrop {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(35, 35, 35, .9);
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-intro {
    background-image: url('../../img-inicial/modal-bg.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 700px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-intro p {
    margin-top: -70px;
    color: white;
}
.footer {
    display: flex;
    justify-content: end;
    width: 480px;
    padding-top: 10px;
}
.botao-fechar,
.botao-fechar-2 {
    display: block;
    width: 100px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    box-shadow: 2px 1px 3px #333;
}
.botao-fechar:hover,
.botao-fechar-2:hover {
    transform: translateY(-3px);
}

.texto-video{
    text-align: center;
    margin-top: -40px;
}

@media screen and (max-width: 980px){
    h1{
        background: url(../../img-inicial/fig_divulgacao.png) center no-repeat;
        background-size: 80%;
    }
}

@media screen and (max-width: 580px) {
    h1{
        background: url(../../img-inicial/mobile/mob_titulo.png) center 87px no-repeat;
        width: 100%;
        background-size: 100%, contain;
    }
}
@media screen and (max-width: 780px) {
    h1 {
        background: url(../../img-inicial/fig_divulgacao.png) center 50px no-repeat, url(../../img-inicial/fig_faixa_amarela.png) no-repeat;
        width: 100%;
        height: 315px;
        background-size: 59%, contain;
    }
    body{
        background: url(../../img-inicial/mobile/mob_bg.png) center no-repeat;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
    }
    nav li{
        /* transform: scale(0.9);
        margin: -40px; */
        display: inline-block;
        width: calc(245px * .6);
        height: calc(287px * .6);
    } 
    nav li a{
        /* transform: scale(0.9);
        margin: -40px; */
        
        width: calc(245px * .6);
        height: calc(287px * .6);
    } 
    nav{
        text-align: center;
    }
    .introducao{background: url('../../img-inicial/mobile/mob_bt1.png') center bottom no-repeat;}
    .recapitulando{background: url('../../img-inicial/mobile/mob_bt2.png') center bottom no-repeat;}
    .relembrando{background: url('../../img-inicial/mobile/mob_bt3.png') center bottom no-repeat;}
    .criando{background: url('../../img-inicial/mobile/mob_bt4.png') center bottom no-repeat;}
    .parcerias{background: url('../../img-inicial/mobile/mob_bt5.png') center bottom no-repeat;}
    .social{background: url('../../img-inicial/mobile/mob_bt6.png') center bottom no-repeat;}
    .veiculos{background: url('../../img-inicial/mobile/mob_bt7.png') center bottom no-repeat;}
    .pos{background: url('../../img-inicial/mobile/mob_bt8.png') center bottom no-repeat;}
    .papel{background: url('../../img-inicial/mobile/mob_bt9.png') center bottom no-repeat;}
    .referencias{background: url('../../img-inicial/mobile/mob_bt10.png') center bottom no-repeat;}

    .introducao:hover{background: url('../../img-inicial/mobile/mob_bt1_hover.png') center bottom no-repeat;}
    .recapitulando:hover{background: url('../../img-inicial/mobile/mob_bt2_hover.png') center bottom no-repeat;}
    .relembrando:hover{background: url('../../img-inicial/mobile/mob_bt3_hover.png') center bottom no-repeat;}
    .criando:hover{background: url('../../img-inicial/mobile/mob_bt4_hover.png') center bottom no-repeat;}
    .parcerias:hover{background: url('../../img-inicial/mobile/mob_bt5_hover.png') center bottom no-repeat;}
    .social:hover{background: url('../../img-inicial/mobile/mob_bt6_hover.png') center bottom no-repeat;}
    .veiculos:hover{background: url('../../img-inicial/mobile/mob_bt7_hover.png') center bottom no-repeat;}
    .pos:hover{background: url('../../img-inicial/mobile/mob_bt8_hover.png') center bottom no-repeat;}
    .papel:hover{background: url('../../img-inicial/mobile/mob_bt9_hover.png') center bottom no-repeat;}
    .referencias:hover{background: url('../../img-inicial/mobile/mob_bt10_hover.png') center bottom no-repeat;}
    
    .modal-intro {
        width: 100%;
        padding: 15px;
        background-image: unset;
        background-color: #00838D;
        margin: 15px;
    }

    .footer {
        width: 100%;
    }
    .texto-video {
        margin-top: -100px;
        margin-bottom: 20px;
        text-align: center;
        word-break: break-word;
        width: 90%;
        /* margin-right: -38px; */
        padding-left: 38px;
    }
    .btVideo{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 820px) {
    body {
        background-size: cover;
        background-position: top center;
    }
}


@media screen and (max-width: 1024px) {
    body {
        overflow: auto;
    }

    .bt-1 {
        background: url(../imgs/bt_iniciar_mobile.png) no-repeat;
        margin: -14px;
    }
    .bt-1:hover {
        background: url(../imgs/bt_iniciar_hover_mobile.png) no-repeat;
        margin: -14px;
    }

    .ytb {
        width: 360px;
        height: 240px;
    }

    .modal-intro p {
        margin-bottom: 0;
        margin-top: 10px;
    }

    .footer {
        width: auto;
    }
}