body{
    background: url(../../img-inicial/bg.png) center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}
h1{
    background: url(../../img-inicial/fig_divulgacao.png) center no-repeat, url(../../img-inicial/fig_faixa_amarela.png) no-repeat;
    width: 100%;
    height: 395px;
    background-size: 50%, contain;
}
nav{
    width: 90%;
    margin-bottom: 80px;
}
nav li {
    list-style: none;
    margin-bottom: 50px;
    width: 245px;
    height: 287px;
    transition: all .4s;
}
nav li:hover {transform: rotate(4deg);}
nav li a{
    width: 245px;
    height: 287px;
    display: block;
}
.introducao{background: url('../../img-inicial/bt_introducao.png') center bottom no-repeat;}
.recapitulando{background: url('../../img-inicial/bt_recapitulando.png') center bottom no-repeat;}
.relembrando{background: url('../../img-inicial/bt_relembrando.png') center bottom no-repeat;}
.criando{background: url('../../img-inicial/bt_criando.png') center bottom no-repeat;}
.parcerias{background: url('../../img-inicial/bt_parcerias.png') center bottom no-repeat;}
.social{background: url('../../img-inicial/bt_social.png') center bottom no-repeat;}
.veiculos{background: url('../../img-inicial/bt_veiculos.png') center bottom no-repeat;}
.pos{background: url('../../img-inicial/bt_pos.png') center bottom no-repeat;}
.papel{background: url('../../img-inicial/bt_papel.png') center bottom no-repeat;}
.referencias{background: url('../../img-inicial/bt_referencias.png') center bottom no-repeat;}

.introducao:hover{background: url('../../img-inicial/bt_introducao_hv.png') center bottom no-repeat;}
.recapitulando:hover{background: url('../../img-inicial/bt_recapitulando_hv.png') center bottom no-repeat;}
.relembrando:hover{background: url('../../img-inicial/bt_relembrando_hv.png') center bottom no-repeat;}
.criando:hover{background: url('../../img-inicial/bt_criando_hv.png') center bottom no-repeat;}
.parcerias:hover{background: url('../../img-inicial/bt_parcerias_hv.png') center bottom no-repeat;}
.social:hover{background: url('../../img-inicial/bt_social_hv.png') center bottom no-repeat;}
.veiculos:hover{background: url('../../img-inicial/bt_veiculos_hv.png') center bottom no-repeat;}
.pos:hover{background: url('../../img-inicial/bt_pos_hv.png') center bottom no-repeat;}
.papel:hover{background: url('../../img-inicial/bt_papel_hv.png') center bottom no-repeat;}
.referencias:hover{background: url('../../img-inicial/bt_ref_hv.png') center bottom no-repeat;}

.btVideo{
    background: url('../../img-inicial/bt-video.png') no-repeat;
    width: 128px;
    height: 127px;
    border: none;
    background-size: contain;
    margin: auto;
    display: block;
}

@media screen and (max-width: 980px){
    h1{
        background: url(../../img-inicial/fig_divulgacao.png) center no-repeat;
        background-size: 80%;
    }
}